<!-- codice per dispositivi large -->

<div class="d-none  d-lg-block container-fluid mt-5 pt-5 pb-5 d-flex justify-content-center align-items-center bgGreen">
    <div class="row ">
        <!-- QUESTI DIVENTERANNO DEI LINK CHE PORTANO ALLE INTERE LISTE, CI SARA' IL CILO PER OGNI CATEGORIA -->
       <a  routerLink="">
        <div class="col-3 d-flex justify-content-center align-items-center flex-column  ">
            <img src="assets/img/icon/cake_7702306.png" alt="pasta" style="height: 100px;">
            <h3 class="m-2">Antipasti</h3>
        </div>
       </a>
       <a  routerLink="">
        <div class="col-3 d-flex justify-content-center align-items-center flex-column  ">
            <img src="assets/img/icon/spaghetti_5100074.png" alt="pasta" style="height: 100px;">
            <h3 class=" m-2">Primi</h3>
        </div>
       </a>
       <a routerLink="">
        <div class="col-3 d-flex justify-content-center align-items-center flex-column  ">
            <img src="assets/img/icon/fish_2243491.png" alt="pasta" style="height: 100px;">
            <h3 class="m-2">Secondi</h3>
        </div>
       </a>
        <a routerLink="">
            <div class="col-3 d-flex justify-content-center align-items-center flex-column  ">
                <img src="assets/img/icon/cake_7702306.png" alt="pasta" style="height: 100px;">
                <h3 class="m-2">Dolci</h3>
            </div>
        </a>
       
      
       
    </div>
</div>

<!-- codice per dispositivi small -->
<div class="d-lg-none d-block container-fluid mt-5 d-flex justify-content-center align-items-center ">
    <div class="row">
        <!-- QUESTI DIVENTERANNO DEI LINK CHE PORTANO ALLE INTERE LISTE, CI SARA' IL CILO PER OGNI CATEGORIA -->
        <div class="col-12 d-flex justify-content-center align-items-center flex-column  ">
            <img src="assets/img/pasta.png" alt="pasta" style="height: 250px;">
            <h3 class="m-2">Antipasti</h3>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center flex-column  ">
            <img src="assets/img/pasta.png" alt="pasta" style="height: 250px;">
            <h3 class=" m-2">Primi</h3>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center flex-column  ">
            <img src="assets/img/pasta.png" alt="pasta" style="height: 250px;">
            <h3 class="m-2">Dolci</h3>
        </div>
      
       
    </div>
</div>