<div class="card">
    <div class="card--image-wrapper">
      <img style="height: 250px; width: 370px;" [src]="ricetta?.linkImmagine" alt="{{ricetta?.nome}}">
      <div class="card--view">
        <p>
          <a [routerLink]="['/dettaglio-ricetta', ricetta?.id]">
            Vai alla ricetta
          </a>   
        </p>
      </div>
      <div class="card--image"></div>
    </div>
    <div class="card--content-wrapper">
      <h1 class="card--title">{{ricetta?.nome}}</h1>
      <div class="card--recipe-info">
        <h2 class="card--recipe-category">Raccomanda NoWaste</h2>
        <p class="card--recipe-time">
          <i class="fa fa-clock-o" aria-hidden="true"></i> {{ricetta?.tempoPreparazione}} min</p>
      </div>
      <span class="card--description" *ngFor="let ingrediente of ricetta?.ingredienti">
        {{ingrediente.ingrediente.nome}} -
      </span>
      <div class="card--rating-wrapper">
        <div class="card--rating-stars--wrapper">
          <div class="card--rating-star filled">☆</div>
          <div class="card--rating-star filled">☆</div>
          <div class="card--rating-star filled">☆</div>
          <div class="card--rating-star filled">☆</div>
          <div class="card--rating-star">☆</div>
        </div>
        <span class="card--rating-count">{{ricetta?.commenti?.length}}</span>
      </div>
    </div>
  </div>

