<div class="container-fluid d-flex-justify-content-center align-content-center  mt-5 mb-5 pt-5 pb-5">
  <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-4 mb-3">
              <app-card *ngIf="ricette" [ricetta]="ricette[0]"></app-card>
          </div>
          <div class="col-md-4 mb-3">
            <app-card *ngIf="ricette" [ricetta]="ricette[1]"></app-card>
          </div>
          <div class="col-md-4 mb-3">
            <app-card *ngIf="ricette" [ricetta]="ricette[2]"></app-card>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4 mb-3">
              <app-card *ngIf="ricette" [ricetta]="ricette[3]"></app-card>
          </div>
          <div class="col-md-4 mb-3">
            <app-card *ngIf="ricette" [ricetta]="ricette[4]"></app-card>
          </div>
          <div class="col-md-4 mb-3">
            <app-card *ngIf="ricette" [ricetta]="ricette[5]"></app-card>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4 mb-3">
              <app-card></app-card>
          </div>
          <div class="col-md-4 mb-3">
            <app-card></app-card>
          </div>
          <div class="col-md-4 mb-3">
            <app-card></app-card>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>
</div>


