<!-- codice per dispositivi large -->

<div class="d-sm-none d-lg-block container-fluid mt-5 d-flex justify-content-center align-items-center bgGreen">
    <div class="row">
        <!-- QUESTI DIVENTERANNO DEI LINK CHE PORTANO ALLE INTERE LISTE, CI SARA' IL CILO PER OGNI CATEGORIA -->
        <div class="col-4 d-flex justify-content-center align-items-center flex-column  ">
            <img src="assets/img/pasta.png" alt="pasta" style="height: 250px;">
            <h3 class="m-2">Antipasti</h3>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center flex-column  ">
            <img src="assets/img/pasta.png" alt="pasta" style="height: 250px;">
            <h3 class=" m-2">Primi</h3>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center flex-column  ">
            <img src="assets/img/pasta.png" alt="pasta" style="height: 250px;">
            <h3 class="m-2">Dolci</h3>
        </div>
      
       
    </div>
</div>

<!-- codice per dispositivi small -->
<div class="d-md-none d-sm-block container-fluid mt-5 d-flex justify-content-center align-items-center ">
    <div class="row">
        <!-- QUESTI DIVENTERANNO DEI LINK CHE PORTANO ALLE INTERE LISTE, CI SARA' IL CILO PER OGNI CATEGORIA -->
        <div class="col-12 d-flex justify-content-center align-items-center flex-column  ">
            <img src="assets/img/pasta.png" alt="pasta" style="height: 250px;">
            <h3 class="m-2">Antipasti</h3>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center flex-column  ">
            <img src="assets/img/pasta.png" alt="pasta" style="height: 250px;">
            <h3 class=" m-2">Primi</h3>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center flex-column  ">
            <img src="assets/img/pasta.png" alt="pasta" style="height: 250px;">
            <h3 class="m-2">Dolci</h3>
        </div>
      
       
    </div>
</div>