<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form id="msform">
            <!-- progressbar -->
            <ul id="progressbar">
                <li [ngClass]="{'active': currentStep === 1}">Crea Ricetta</li>
                <li [ngClass]="{'active': currentStep === 2}">Aggiungi ingredienti</li>
                <li [ngClass]="{'active': currentStep === 3}">Scegli quantità</li>
            </ul>
            <!-- fieldsets -->
            <fieldset *ngFor="let step of steps; let i = index" [@fadeInOut]="'in'" [style.display]="currentStep == i + 1 ? 'block' : 'none'">
                <h2 class="fs-title">{{ step.title }}</h2>
                <h3 class="fs-subtitle">{{ step.subtitle }}</h3>
                <input *ngFor="let field of step.fields" type="{{ field.type }}" name="{{ field.name }}" placeholder="{{ field.placeholder }}" min="{{field.min}}" max="{{field.max}}"/>
                <input *ngIf="currentStep !== 1" type="button" name="previous" class="previous action-button-previous" value="Previous" (click)="prevStep()"/>
                <input *ngIf="currentStep !== steps.length" type="button" name="next" class="next action-button" value="Next" (click)="nextStep()"/>
                <input *ngIf="currentStep === steps.length" type="submit" name="submit" class="submit action-button" value="Submit"/>
            </fieldset>
        </form>
    </div>
</div>
