<div class="grid">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <app-card></app-card>
                        </div>
                        <div class="col">
                            <app-card></app-card>
                        </div>
                        <div class="col">
                            <app-card></app-card>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <app-card></app-card>
                        </div>
                        <div class="col">
                            <app-card></app-card>
                        </div>
                        <div class="col">
                            <app-card></app-card>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <app-card></app-card>
                        </div>
                        <div class="col">
                            <app-card></app-card>
                        </div>
                        <div class="col">
                            <app-card></app-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
