<h2>Scegli le quantita</h2>
<div class="row d-flex">
    <div class="col">
        <ul>
            <li *ngFor="let iCheck of ingredientiSelezionati; let i = index">    
                {{iCheck.nome}}
                <input type="number" min="1" formControlName="quantita{{i}}">
                <select name="unitaMisura" formControlName="unitaMisura{{i}}">
                    <option value="g">g</option>
                    <option value="kg">kg</option>
                    <option value="ml">ml</option>
                    <option value="l">l</option>
                    <option value="cucchiaino">cucchiaino</option>
                    <option value="cucchiaio">cucchiaio</option>
                    <option value="pizzico">pizzico</option>
                </select>
            </li>
        </ul>
    </div>
</div>
