

  <!-- codice per dispositivi large -->
<div class="container-fluid d-lg-block d-none">
  <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12">
      
              <span class="s1 moving-span [@moveIn]"> CIBO        &
                  <span class="s2">STAGIONALITA'</span>
              </span>
         
          <div class="card">
              <div class="thumbnail">
                  <img class="left" src="https://img.freepik.com/free-photo/top-view-delicious-vegetables-arrangement_23-2149271149.jpg?t=st=1711534102~exp=1711537702~hmac=995bc24f3984844562e0ddd9d934d3d01c0182c68d2688018a85e27631400848&w=1380">
              </div>
              <div class="right">
                  <h2>Perchè è importante la stagionalità
                  </h2>
                
                  <div class="separator"></div>
                  <p>Mangiare cibi stagionali non solo fornisce i nutrienti necessari al nostro corpo, 
                    ma anche rispetta i ritmi naturali della Terra. I cibi locali sono freschi, genuini 
                    e favoriscono il microbioma intestinale. Il consumo di alimenti in base alla stagione 
                    soddisfa i bisogni del corpo, come l'idratazione durante l'estate e il potenziamento 
                    del sistema immunitario in inverno. La ricerca suggerisce che i microorganismi presenti 
                    nei cibi stagionali influenzano la nostra salute. In sintesi, mangiare cibi di stagione 
                    è un modo per mantenere salute, energia e vitalità, in sintonia con la natura.
                  </p>
                  
                  
                  <a class=" dettaglio-link" href = "https://retecontadina.it/cibo-pulito/8-rete-contadina/6-stagionale" target="_blank">Clicca qua per controllare la stagionalità dei tuoi ingredienti!!</a>
                  
                  <ul>
                      <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="share"></mat-icon>
                      </li>
                      <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon>
                      </li>
                  </ul>
              </div>
              <!-- <div class="fab">
                  <i class="fa fa-arrow-down fa-3x"></i>
              </div> -->
          </div>
      </div>
  </div>
</div>



<!-- codice per dispositivi small -->
<div class="d-md-none d-sm-block container-fluid mt-5">
  <div class="row">
      <div class="col-12">
          <span class="ss1 moving-span [@moveIn]"> CIBO      &
              <span class="ss2">STAGIONALITA'</span>
          </span>

      </div>
      <div class="col-12">
         
              <div class="">
                  <img style="height: 350px; max-width: 350px;" class="" src="https://img.freepik.com/free-photo/top-view-delicious-vegetables-arrangement_23-2149271149.jpg?t=st=1711534102~exp=1711537702~hmac=995bc24f3984844562e0ddd9d934d3d01c0182c68d2688018a85e27631400848&w=1380">
              </div>
             
              <!-- <div class="fab">
                  <i class="fa fa-arrow-down fa-3x"></i>
              </div> -->
         
          <div class="col-12">
             
                  <h2>Perchè è importante la stagionalità
                  </h2>
                
                  <div class="separator"></div>
                  <p>Mangiare cibi stagionali non solo fornisce i nutrienti necessari al nostro corpo, 
                  ma anche rispetta i ritmi naturali della Terra. I cibi locali sono freschi, genuini 
                  e favoriscono il microbioma intestinale. Il consumo di alimenti in base alla stagione 
                  soddisfa i bisogni del corpo, come l'idratazione durante l'estate e il potenziamento 
                  del sistema immunitario in inverno. La ricerca suggerisce che i microorganismi presenti 
                  nei cibi stagionali influenzano la nostra salute. In sintesi, mangiare cibi di stagione 
                  è un modo per mantenere salute, energia e vitalità, in sintonia con la natura.
                  </p>
          </div>
          <div class="col-12">
             
                  <ul>
                      <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="share"></mat-icon>
                      </li>
                      <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon>
                      </li>
                  </ul>
          </div>
      </div>
  </div>
</div> 


<div class="container-fluid d-lg-block d-none">
  <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12">
      
              <span class="s1 moving-span [@moveIn]"> CIBO        &
                  <span class="s2">SPRECO</span>
              </span>
              
          <div class="card">
              <div class="box-imgs d-flex justify-content-start align-items-center flex-column " >

                  <div class="row">
                    <div class="col-12 m-1 d-flex justify-content-center align-items-center ">
                      <img class="image"src="https://img.freepik.com/free-vector/hand-drawn-flat-compost-cycle_23-2149370342.jpg?t=st=1711557516~exp=1711561116~hmac=d3ba51aa6264b64df0749e53d18276750c84c8232a6ec08b81b4f70ef6466eae&w=826" alt="Descrizione immagine 1">
                      <p>Ogni scarto organico che produciamo in cucina può essere compostato e usato nel nostro giardino o per le nostre piante!!</p>
                    </div>
                  </div>
                  <div class="row">
                  <div class="col-12 m-1 d-flex justify-content-center align-items-center ">
                    <img  class="image" src="https://img.freepik.com/free-vector/hand-drawn-caldo-verde-food-illustration_23-2150245654.jpg?t=st=1711557614~exp=1711561214~hmac=94c114086413b85f263781fbea05950f6153d301dae1e6b067e220f282f11033&w=826" alt="Descrizione immagine 2">
                    <p>Quando abbiamo avanzi di verdure, possiamo usarli per fare squisiti brodi vegetali al posto di buttarli via!</p>
                  </div>
                  </div>
                  <div class="row">
                    <div   class="col-12 m-1 d-flex justify-content-center align-items-center ">
                      <img class="image" src="https://img.freepik.com/free-photo/front-view-delicious-fish-chips-food_23-2148732339.jpg?t=st=1711557706~exp=1711561306~hmac=884718393c16c4ed3caaada5ca64b7b53daab986e25daa8431f976fc2bb19641&w=740" alt="Descrizione immagine 3">
                      <p>Must try!! con le bucce di carote, patate, zucchine si posso fare delle crroccantissime chips per accompagnare le vostre ricette!</p>
                    </div>
                  </div>                 
        
              </div>
            
            
              <div class="right-2 ">
                  <h2>Come ridurre lo spreco alimentare in cucina
                  </h2>
                
                  <div class=""></div>
                  <p>Sprecare in cucina non è solo un peccato, ma anche un grave danno ambientale. 
                    Le bucce di carota, le foglie di cavolfiore e altri scarti vegetali spesso finiscono 
                    nel bidone della spazzatura, contribuendo allo spreco alimentare e all'inquinamento 
                    ambientale. Impariamo a valorizzare queste parti poco pregiate degli alimenti: 
                    utilizziamole per brodi, composte o chips, riducendo così il nostro impatto ambientale 
                    e scoprendo nuovi sapori e ricette creative, o se si ha un giardino impariamo a compostare 
                    i nostri rifiuti alimentari!
                  </p>
                  
                  
                  <a class=" dettaglio-link" href = "https://www.a2a.it/magazine/vita-green/spreco-alimentare-10-idee-riciclare-il-cibo-avanzato" target="_blank">Clicca qua per qualche idea extra per utilizzare scarti ed avanzi!!</a>
                  
                  <ul>
                      <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="share"></mat-icon>
                      </li>
                      <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon>
                      </li>
                  </ul>
              </div>
              <!-- <div class="fab">
                  <i class="fa fa-arrow-down fa-3x"></i>
              </div> -->
          </div>
      </div>
  </div>
</div>

<!-- codice per dispositivi small -->
<div class="d-md-none d-sm-block container-fluid mt-5">
  <div class="row">
      <div class="col-12">
          <span class="ss1 moving-span [@moveIn]"> CIBO      &
              <span class="ss2">SPRECO</span>
          </span>

      </div>
      <div class="col-12">
         
              <div class="">
                  <img style="height: 350px; max-width: 350px;" class="" src="https://img.freepik.com/free-photo/top-view-delicious-vegetables-arrangement_23-2149271149.jpg?t=st=1711534102~exp=1711537702~hmac=995bc24f3984844562e0ddd9d934d3d01c0182c68d2688018a85e27631400848&w=1380">
              </div>
             
              <!-- <div class="fab">
                  <i class="fa fa-arrow-down fa-3x"></i>
              </div> -->
         
          <div class="col-12">
             
                  <h2>Come ridurre lo spreco alimentare nelle nostre cucine
                  </h2>
                
                  <div class="separator"></div>
                  <p>Sprecare in cucina non è solo un peccato, ma anche un grave danno ambientale. 
                    Le bucce di carota, le foglie di cavolfiore e altri scarti vegetali spesso finiscono 
                    nel bidone della spazzatura, contribuendo allo spreco alimentare e all'inquinamento 
                    ambientale. Impariamo a valorizzare queste parti poco pregiate degli alimenti: 
                    utilizziamole per brodi, composte o chips, riducendo così il nostro impatto ambientale 
                    e scoprendo nuovi sapori e ricette creative, o se si ha un giardino impariamo a compostare 
                    i nostri rifiuti alimentari!
                  </p>
          </div>
          <div class="col-12">
             
                  <ul>
                      <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="share"></mat-icon>
                      </li>
                      <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon>
                      </li>
                  </ul>
          </div>
      </div>
  </div>
</div>

