

  <!-- codice per dispositivi large -->
<div class="container-fluid d-lg-block d-none">
  <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12">
      
              <span class="s3 moving-span [@moveIn]"> CIBO        &
                  <span class="s4">STAGIONALITA'</span>
              </span>
         
          <div class="card">
              <div class="thumbnail">
                  <img class="left" src="https://img.freepik.com/free-photo/top-view-delicious-vegetables-arrangement_23-2149271149.jpg?t=st=1711534102~exp=1711537702~hmac=995bc24f3984844562e0ddd9d934d3d01c0182c68d2688018a85e27631400848&w=1380">
              </div>
              <div class="right">
                  <h2>Perchè è importante la stagionalità
                  </h2>
                
                  <div class="separator"></div>
                  <p>Mangiare cibi stagionali non solo fornisce i nutrienti necessari al nostro corpo, 
                    ma anche rispetta i ritmi naturali della Terra. I cibi locali sono freschi, genuini 
                    e favoriscono il microbioma intestinale. Il consumo di alimenti in base alla stagione 
                    soddisfa i bisogni del corpo, come l'idratazione durante l'estate e il potenziamento 
                    del sistema immunitario in inverno. La ricerca suggerisce che i microorganismi presenti 
                    nei cibi stagionali influenzano la nostra salute. In sintesi, mangiare cibi di stagione 
                    è un modo per mantenere salute, energia e vitalità, in sintonia con la natura.
                  </p>
                  
                  
                  <a class=" dettaglio-link" href = "https://retecontadina.it/cibo-pulito/8-rete-contadina/6-stagionale" target="_blank">Clicca qua per controllare la stagionalità dei tuoi ingredienti!!</a>
                  
                  <ul>
                      <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="share"></mat-icon>
                      </li>
                      <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon>
                      </li>
                  </ul>
              </div>
              <!-- <div class="fab">
                  <i class="fa fa-arrow-down fa-3x"></i>
              </div> -->
          </div>
      </div>
  </div>
</div>



<!-- codice per dispositivi small -->
<div class="d-md-none d-sm-block container-fluid mt-5">
  <div class="row">
      <div class="col-12">
          <span class="ss1 moving-span [@moveIn]"> CIBO      &
              <span class="ss2">STAGIONALITA'</span>
          </span>

      </div>
      <div class="col-12">
         
              <div class="">
                  <img style="height: 350px; max-width: 350px;" class="" src="https://img.freepik.com/free-photo/top-view-delicious-vegetables-arrangement_23-2149271149.jpg?t=st=1711534102~exp=1711537702~hmac=995bc24f3984844562e0ddd9d934d3d01c0182c68d2688018a85e27631400848&w=1380">
              </div>
             
              <!-- <div class="fab">
                  <i class="fa fa-arrow-down fa-3x"></i>
              </div> -->
         
          <div class="col-12">
             
                  <h2>Perchè è importante la stagionalità
                  </h2>
                
                  <div class="separator"></div>
                  <p>Mangiare cibi stagionali non solo fornisce i nutrienti necessari al nostro corpo, 
                  ma anche rispetta i ritmi naturali della Terra. I cibi locali sono freschi, genuini 
                  e favoriscono il microbioma intestinale. Il consumo di alimenti in base alla stagione 
                  soddisfa i bisogni del corpo, come l'idratazione durante l'estate e il potenziamento 
                  del sistema immunitario in inverno. La ricerca suggerisce che i microorganismi presenti 
                  nei cibi stagionali influenzano la nostra salute. In sintesi, mangiare cibi di stagione 
                  è un modo per mantenere salute, energia e vitalità, in sintonia con la natura.
                  </p>
          </div>
          <div class="col-12">
             
                  <ul>
                      <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="share"></mat-icon>
                      </li>
                      <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon>
                      </li>
                  </ul>
          </div>
      </div>
  </div>
</div> 

<div class="container-fluid d-lg-block d-none">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12">
        
                <span class="s1 moving-span [@moveIn]"> CIBO        &
                    <span class="s2">SPRECO</span>
                </span>
           
            <div class="cardC">
                <div class="thumbnailC">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="https://aws.imagelinenetwork.com/agronotizie/materiali/ArticoliImg/agroalimentare-cibo-verdure-olio-pomodori-peperoni-aglio-generata-con-intelligenza-artificiale-by-sasint-adobe-stock-1200x800.jpeg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQArsOD5XtalG8phQd-vPTdCUmpgsKrk6ryapi1oTlvnw&s" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="https://img.freepik.com/free-photo/top-view-delicious-vegetables-arrangement_23-2149271149.jpg?t=st=1711534102~exp=1711537702~hmac=995bc24f3984844562e0ddd9d934d3d01c0182c68d2688018a85e27631400848&w=1380" class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                    <!-- <img class="left" src="https://img.freepik.com/free-photo/top-view-delicious-vegetables-arrangement_23-2149271149.jpg?t=st=1711534102~exp=1711537702~hmac=995bc24f3984844562e0ddd9d934d3d01c0182c68d2688018a85e27631400848&w=1380"> -->
                </div>
                <div class="right">
                    <h2 class=" pt-5">Perchè è importante la stagionalità
                    </h2>
                  
                    <div class="separator"></div>
                    <p>Sprecare in cucina non è solo un peccato, ma anche un grave danno ambientale. 
                        Le bucce di carota, le foglie di cavolfiore e altri scarti vegetali spesso finiscono 
                        nel bidone della spazzatura, contribuendo allo spreco alimentare e all'inquinamento 
                        ambientale. Impariamo a valorizzare queste parti poco pregiate degli alimenti: 
                        utilizziamole per brodi, composte o chips, riducendo così il nostro impatto ambientale 
                        e scoprendo nuovi sapori e ricette creative, o se si ha un giardino impariamo a compostare 
                        i nostri rifiuti alimentari!
                      </p>
                    
                    
                    <a class=" dettaglio-link" href = "https://retecontadina.it/cibo-pulito/8-rete-contadina/6-stagionale" target="_blank">Clicca qua per controllare la stagionalità dei tuoi ingredienti!!</a>
                    
                    <ul>
                        <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="share"></mat-icon>
                        </li>
                        <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon>
                        </li>
                    </ul>
                </div>
                <!-- <div class="fab">
                    <i class="fa fa-arrow-down fa-3x"></i>
                </div> -->
            </div>
        </div>
    </div>
  </div>


<!-- codice per dispositivi small -->
<div class="d-md-none d-sm-block container-fluid mt-5">
  <div class="row">
      <div class="col-12">
          <span class="ss1 moving-span [@moveIn]"> CIBO      &
              <span class="ss2">SPRECO</span>
          </span>

      </div>
      <div class="col-12">
         
              <div class="">
                  <img style="height: 350px; max-width: 350px;" class="" src="https://img.freepik.com/free-photo/top-view-delicious-vegetables-arrangement_23-2149271149.jpg?t=st=1711534102~exp=1711537702~hmac=995bc24f3984844562e0ddd9d934d3d01c0182c68d2688018a85e27631400848&w=1380">
              </div>
             
              <!-- <div class="fab">
                  <i class="fa fa-arrow-down fa-3x"></i>
              </div> -->
         
          <div class="col-12">
             
                  <h2>Come ridurre lo spreco alimentare nelle nostre cucine
                  </h2>
                
                  <div class="separator"></div>
                  <p>Sprecare in cucina non è solo un peccato, ma anche un grave danno ambientale. 
                    Le bucce di carota, le foglie di cavolfiore e altri scarti vegetali spesso finiscono 
                    nel bidone della spazzatura, contribuendo allo spreco alimentare e all'inquinamento 
                    ambientale. Impariamo a valorizzare queste parti poco pregiate degli alimenti: 
                    utilizziamole per brodi, composte o chips, riducendo così il nostro impatto ambientale 
                    e scoprendo nuovi sapori e ricette creative, o se si ha un giardino impariamo a compostare 
                    i nostri rifiuti alimentari!
                  </p>
          </div>
          <div class="col-12">
             
                  <ul>
                      <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="share"></mat-icon>
                      </li>
                      <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon>
                      </li>
                  </ul>
          </div>
      </div>
  </div>
</div>

