

  <!-- codice per dispositivi large -->
<div class="container-fluid d-lg-block d-none">
  <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12">
      
              <span class="s3 moving-span [@moveIn]"> CIBO        &
                  <span class="s4">STAGIONALITA'</span>
              </span>
         
          <div class="card">
              <div class="thumbnail">
                  <img class="left" src="https://img.freepik.com/free-photo/top-view-delicious-vegetables-arrangement_23-2149271149.jpg?t=st=1711534102~exp=1711537702~hmac=995bc24f3984844562e0ddd9d934d3d01c0182c68d2688018a85e27631400848&w=1380">
              </div>
              <div class="right">
                  <h2>Perchè è importante la stagionalità
                  </h2>
                
                  <div class="separator"></div>
                  <p>Mangiare cibi stagionali non solo fornisce i nutrienti necessari al nostro corpo, 
                    ma anche rispetta i ritmi naturali della Terra. I cibi locali sono freschi, genuini 
                    e favoriscono il microbioma intestinale. Il consumo di alimenti in base alla stagione 
                    soddisfa i bisogni del corpo, come l'idratazione durante l'estate e il potenziamento 
                    del sistema immunitario in inverno. La ricerca suggerisce che i microorganismi presenti 
                    nei cibi stagionali influenzano la nostra salute. In sintesi, mangiare cibi di stagione 
                    è un modo per mantenere salute, energia e vitalità, in sintonia con la natura.
                  </p>
                  
                  
                  <a class=" dettaglio-link" href = "https://retecontadina.it/cibo-pulito/8-rete-contadina/6-stagionale" target="_blank">Clicca qua per controllare la stagionalità dei tuoi ingredienti!!</a>
                  
                  <!-- <ul>
                      <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="share"></mat-icon>
                      </li>
                      <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon>
                      </li>
                  </ul> -->
              </div>
              <!-- <div class="fab">
                  <i class="fa fa-arrow-down fa-3x"></i>
              </div> -->
          </div>
      </div>
  </div>
</div>





<div class="container-fluid d-lg-block d-none mt-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 mt-5">
        
               
          
            <div class="cardC">
                <div class="thumbnailC">
                    <div id="carouselExampleInterval" class="carousel carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="10000">
                                <img style="height: 400px; width: 300px;" src="https://img.freepik.com/free-vector/hand-drawn-flat-compost-cycle_23-2149370342.jpg?t=st=1711557516~exp=1711561116~hmac=d3ba51aa6264b64df0749e53d18276750c84c8232a6ec08b81b4f70ef6466eae&w=826" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                  
                                    <p class="bg-light p-2">Ogni scarto organico che produciamo in cucina può essere compostato e usato nel nostro giardino o per le nostre piante!!</p>
                                </div>
                            </div>
                            
                            <div class="carousel-item" data-bs-interval="2000">
                                <img style="height: 400px; width: 300px;" src="https://img.freepik.com/free-vector/hand-drawn-caldo-verde-food-illustration_23-2150245654.jpg?t=st=1711557614~exp=1711561214~hmac=94c114086413b85f263781fbea05950f6153d301dae1e6b067e220f282f11033&w=826" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    
                                    <p class="bg-light p-2">Quando abbiamo avanzi di verdure, possiamo usarli per fare squisiti brodi vegetali al posto di buttarli via!</p>
                                </div>
                            </div>
                            
                            <div class="carousel-item">
                                <img style="height: 400px; width: 300px;" src="https://img.freepik.com/free-photo/front-view-delicious-fish-chips-food_23-2148732339.jpg?t=st=1711557706~exp=1711561306~hmac=884718393c16c4ed3caaada5ca64b7b53daab986e25daa8431f976fc2bb19641&w=740" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <p class="bg-light p-2">Must try!! con le bucce di carote, patate, zucchine si posso fare delle crroccantissime chips per accompagnare le vostre ricette!</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-around align-items-center w-100 ">
                            <button mat-raised-button class="carousel-control-prev colore"
                            data-bs-target="#carouselExampleInterval" data-bs-slide="prev"> 
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden"></span>
                            </button>  
                            <button mat-raised-button class="carousel-control-next colore"
                            data-bs-target="#carouselExampleInterval" data-bs-slide="next"> 
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden"></span>
                            </button> 
                        </div>
                      

                    </div>
                    
                    <!-- <img class="left" src="https://img.freepik.com/free-photo/top-view-delicious-vegetables-arrangement_23-2149271149.jpg?t=st=1711534102~exp=1711537702~hmac=995bc24f3984844562e0ddd9d934d3d01c0182c68d2688018a85e27631400848&w=1380"> -->
                </div>
                <div class="right">
                    <h2 class=" pt-5"> Come ridurre lo spreco alimentare nelle nostre cucine
                    </h2>
                  
                    <div class="separator"></div>
                    <p>Sprecare in cucina non è solo un peccato, ma anche un grave danno ambientale.                      Le bucce di carota, le foglie di cavolfiore e altri scarti vegetali spesso finiscono                      nel bidone della spazzatura, contribuendo allo spreco alimentare e all'inquinamento                      ambientale. Impariamo a valorizzare queste parti poco pregiate degli alimenti:                      utilizziamole per brodi, composte o chips, riducendo così il nostro impatto ambientale                      e scoprendo nuovi sapori e ricette creative, o se si ha un giardino impariamo a compostare                      i nostri rifiuti alimentari!    
                    </p>
                    
                    
                    <a class="link" href = "https://retecontadina.it/cibo-pulito/8-rete-contadina/6-stagionale" target="_blank">Clicca qua per controllare la stagionalità dei tuoi ingredienti!!</a>
                    
                    <!-- <ul>
                        <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="share"></mat-icon>
                        </li>
                        <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon>
                        </li>
                    </ul> -->
                </div>
               
                <!-- <div class="fab">
                    <i class="fa fa-arrow-down fa-3x"></i>
                </div> -->
            </div>
            <span class="s1 moving-span [@moveIn]"> SPRECO       
                <span class="s2">CIBO &</span>
            </span>
        </div>
    </div>
  </div>

  




<!-- codice per dispositivi small -->

  <div class="container d-block d-lg-none">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12">
            <h2 class="small">Perchè è importante la stagionalità
            </h2>
          
        </div>
        <div class="col-12">

            <p class="small">Mangiare cibi stagionali non solo fornisce i nutrienti necessari al nostro corpo, 
                ma anche rispetta i ritmi naturali della Terra. I cibi locali sono freschi, genuini 
                e favoriscono il microbioma intestinale. Il consumo di alimenti in base alla stagione 
                soddisfa i bisogni del corpo, come l'idratazione durante l'estate e il potenziamento 
                del sistema immunitario in inverno. La ricerca suggerisce che i microorganismi presenti 
                nei cibi stagionali influenzano la nostra salute. In sintesi, mangiare cibi di stagione 
                è un modo per mantenere salute, energia e vitalità, in sintonia con la natura.
              </p>
        </div>
        <div class="col-12">  
            <a class="small link" href = "https://retecontadina.it/cibo-pulito/8-rete-contadina/6-stagionale" target="_blank">Clicca qua per controllare la stagionalità dei tuoi ingredienti!!</a>
        </div>
        <div class="col-12">
            <img style="height: 200px; width: 300px;" src="https://img.freepik.com/free-photo/top-view-delicious-vegetables-arrangement_23-2149271149.jpg?t=st=1711534102~exp=1711537702~hmac=995bc24f3984844562e0ddd9d934d3d01c0182c68d2688018a85e27631400848&w=1380">
        </div>
    </div>
</div>

<div class="container d-block d-lg-none mt-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12">
            <h2 class="small link">Cibo & Scarti
            </h2>
          
        </div>
        <div class="col-12">

            <p class="small">Ogni scarto organico che produciamo in cucina può essere compostato e usato nel nostro giardino o per le nostre piante!!
              </p>
        </div>
        <div class="col-12">  
            <a class="small link" href = "https://retecontadina.it/cibo-pulito/8-rete-contadina/6-stagionale" target="_blank">Clicca qua per controllare la stagionalità dei tuoi ingredienti!!</a>
        </div>
        <div class="col-12">
            <img style="height: 200px; width: 300px;" src="https://img.freepik.com/free-vector/hand-drawn-flat-compost-cycle_23-2149370342.jpg?t=st=1711557516~exp=1711561116~hmac=d3ba51aa6264b64df0749e53d18276750c84c8232a6ec08b81b4f70ef6466eae&w=826">
        </div>
    </div>
</div>
