<div class="container-fluid bgImg vh-100 mb-5">
   
    <div class="row">
        <div class="col-8 vh-100 bg-light d-flex flex-column justify-content-center align-items-end">

          
          <h1 class="fw-bold fs-1">Iscriviti al sito più Waste di sempre!</h1>
          <!-- <h3>Cerca una ricetta con gli ingredienti che hai a disposizione</h3> -->
       <div class="row w-100">
        <div class="col-12 d-flex justify-content-center align-items-end">
            <!-- <form class="d-flex m-5" role="search">
                <input class="form-control me-2" type="search" placeholder="pomodori,cipolla.." aria-label="Search">
               <app-bottone></app-bottone>
              </form> -->
        </div>
       </div>
        </div>
     
      
    <div>
    
  
</div>





    