<div class="container-fluid bgImg vh-100 mb-5">
   
    <div class="row">
        <div class="col-8 vh-100 bg-light d-flex flex-column justify-content-center align-items-end">
          <h1 class="fw-bold fs-1 typewriter" #typewriterElement [@typewriter]="text" >{{text}}</h1>
          <button mat-raised-button class="colore">Cerca</button>  
 
          <div class="row w-100">
        <div class="col-12 d-flex justify-content-center align-items-end">
           
              
        </div>
       </div>
</div>
     
      

       