.bgImg{
    background-image: url(/assets/img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}



  
.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  

  .colore{
    background-color: #7EAA5F !important;
  }

  .waveContainer{
    height: 100vh;
   
    z-index: -9999;
  }
  .viewBox{

    z-index: -9999;
    margin-top: -400px;
  }
  .path{
    stroke: none;
    fill: rgb(237, 115, 115);
    z-index: -9999;
   
  }

  .bgC{
    z-index: 9999;
    
  }









