.bgGreen{
    background-color: #A6CF98;

}

h2{
    font-weight: 200px;
    font-size: 40px;
}


.curved-text-container {
    width: 300px; /* Larghezza del container */
    height: 250px; /* Altezza del container */
    overflow: hidden;
   
  }
  
  .curved-text {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    text-align: center;
  }
  
  .curved-text span {
    display: block;
    transform-origin: 50% 100%;
    position: absolute;
 
  
  }
  
  .curved-text span:nth-child(1) {
    transform: rotate(-20deg);
   

  }
  
  .curved-text span:nth-child(2) {
    transform: rotate(20deg);
  }
  

  