<!-- codice per resposività large -->
<div class="container mt-5 d-lg-block d-none">
    <h2 class="text-center mt-5 bgGreen"> In questa stagione</h2>
    <div class="row mt-5 d-flex justify-content-center align-items-center">
        <div class="col-12">
            <div class="row d-flex justify-content-center align-items-between">
                <div class="col-12">
                    <div class="curved-text-container">
                        <div class="curved-text">
                          <span>Spinaci</span>
                        
                        </div>
                    <img src="assets/img/pngwing.com (2).png" alt=""style="width: 250px; height: 250px;">
                    </div>
                </div>
                <div class="col-12">
                    <div class="curved-text-container">
                        <div class="curved-text">
                          <span>Cipolla</span>
                        
                        </div>
                    <img src="assets/img/pngwing.com (3).png" alt=""style="width: 250px; height: 250px;">
                    </div>
                </div>
                <div class="col-12">
                    <div class="curved-text-container">
                        <div class="curved-text">
                          <span>Mela</span>
                        
                        </div>
                    <img src="assets/img/pngwing.com (8).png" alt=""style="width: 250px; height: 250px;">
                    </div> 
                </div>
                <div class="col-3">
                    <div class="curved-text-container">
                        <div class="curved-text">
                          <span>Insalata riccia</span>
                        </div>
                          <img src="assets/img/pngwing.com (4).png" alt=""style="width: 250px; height: 250px;">
                      </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center align-items-between">
                <div class="col-3">
                    <div class="curved-text-container">
                        <div class="curved-text">
                          <span>Pomodori</span>
                        
                        </div>
                    <img src="assets/img/pngwing.com (5).png" alt="" style="width: 250px; height: 250px;">
                    </div>
                </div>
                <div class="col-3">
                    <div class="curved-text-container">
                        <div class="curved-text">
                          <span>Peperoni</span>
                        
                        </div>
                    <img src="assets/img/pngwing.com (9).png" alt=""style="width: 250px; height: 250px;">
                    </div>
                </div>
                <div class="col-3">
                    <div class="curved-text-container">
                        <div class="curved-text">
                          <span>Arancie</span>
                        
                        </div>
                    <img src="assets/img/pngwing.com (6).png" alt=""style="width: 250px; height: 250px;">
                    </div>
                </div>
                <div class="col-3">
                    <div class="curved-text-container">
                        <div class="curved-text">
                          <span>Zucca</span>
                        
                        </div>
                    <img src="assets/img/pngwing.com (7).png" alt=""style="width: 250px; height: 250px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- codice per resposività small -->
<div class="container mt-5 d-lg-none">
    <h2 class="text-center mt-5 bgGreen"> In questa stagione</h2>
    <div class="row mt-5 d-flex justify-content-center align-items-center">
        <div class="col-12">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12">
                    <div class="curved-text-container">
                        <div class="curved-text">
                          <span>Spinaci</span>
                        
                        </div>
                    <img src="assets/img/pngwing.com (2).png" alt=""style="width: 250px; height: 250px;">
                    </div>
                </div>
                <div class="col-12">
                    <div class="curved-text-container">
                        <div class="curved-text">
                          <span>Cipolla</span>
                        
                        </div>
                    <img src="assets/img/pngwing.com (3).png" alt=""style="width: 250px; height: 250px;">
                    </div>
                </div>
                <div class="col-12">
                    <div class="curved-text-container">
                        <div class="curved-text">
                          <span>Mela</span>
                        
                        </div>
                    <img src="assets/img/pngwing.com (8).png" alt=""style="width: 250px; height: 250px;">
                    </div> 
                </div>
                <div class="col-12">
                    <div class="curved-text-container">
                        <div class="curved-text">
                          <span>Insalata riccia</span>
                        </div>
                          <img src="assets/img/pngwing.com (4).png" alt=""style="width: 250px; height: 250px;">
                      </div>
                </div>
            </div>
          
        </div>
    </div>
</div>

