<!-- codice per dispositivi large -->
<div class="container-fluid d-lg-block d-none">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12">
        
                <span class="s1 moving-span [@moveIn]"> NIENTE
                    <span class="s2">SPRECO</span>
                </span>
           
            <div class="card">
                <div class="thumbnail">
                    <img class="left" src="assets/img/asparagi.jpg">
                </div>
                <div class="right">
                    <h2>Pesto di gambi di asparagi
                    </h2>
                  
                    <div class="separator"></div>
                    <p>Ingredienti per 4 porzioni: gambi di 2 mazzi di asparagi, sale, olio extravergine di oliva, 1 spicchio d’aglio, 20 g di Pecorino romano, 30 g di Parmigiano reggiano, 1 limone non trattato, 50 g di pinoli, pepe nero.
                    </p>
                    <h5>26</h5>
                    <h6>MARZO</h6>
                    <ul>
                        <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="share"></mat-icon>
                        </li>
                        <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon>
                        </li>
                    </ul>
                </div>
                <!-- <div class="fab">
                    <i class="fa fa-arrow-down fa-3x"></i>
                </div> -->
            </div>
        </div>
    </div>
</div>

<!-- codice per dispositivi small -->
<div class="d-md-none d-sm-block container-fluid mt-5">
    <div class="row">
        <div class="col-12">
            <span class="ss1 moving-span [@moveIn]"> NIENTE
                <span class="ss2">SPRECO</span>
            </span>

        </div>
        <div class="col-12">
           
                <div class="">
                    <img style="height: 350px; max-width: 350px;" class="" src="assets/img/asparagi.jpg">
                </div>
               
                <!-- <div class="fab">
                    <i class="fa fa-arrow-down fa-3x"></i>
                </div> -->
           
            <div class="col-12">
               
                    <h2>Pesto di gambi di asparagi
                    </h2>
                  
                    <div class="separator"></div>
                    <p>Ingredienti per 4 porzioni: gambi di 2 mazzi di asparagi, sale, olio extravergine di oliva, 1 spicchio d’aglio, 20 g di Pecorino romano, 30 g di Parmigiano reggiano, 1 limone non trattato, 50 g di pinoli, pepe nero.
                    </p>
            </div>
            <div class="col-12">
               
                    <ul>
                        <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="share"></mat-icon>
                        </li>
                        <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</div>