
* {
    margin: 0;
    padding: 0;
    font-family: "Livvik", sans-serif;

}

.co{
    height: 60.58vh;
    display: flex;
    align-items: center;
}
.row{

    display:flex;
    width: 100%;
    justify-content: center;
}

h2{
    margin-bottom: 10px;
}

#msform {
    text-align: center;
    margin-top: 30px;
}

#msform fieldset {
    background: #A6CF98;
    border: 0 none;
    border-radius: 15px;
    box-shadow: 0 0 15px 1px #557C55;
    padding: 20px 20px;
    box-sizing: border-box;
    width: auto;
    max-width: 800px;
    margin: 0 auto;
    
}

/*input*/
#msform input, #msform textarea  {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
}

#msform select{
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
}

#msform input:focus, #msform textarea:focus, #msform select:focus {
    border: 1px solid #557C55;
    outline-width: 0;
}

/*buttons*/
#msform .action-button {
    width: 100%;
    background: #557C55;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    font-size: 20px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #F2FFE9;
}

#msform .action-button-previous {
    width: 100%;
    background: #F2FFE9;
    font-weight: bold;
    color: #557C55;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    font-size: 20px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px #557C55, 0 0 0 3px #F2FFE9;
}

.box{
    display: flex;
    align-items : center;
}

li{
    list-style: none;
}

select{
    text-align: center;
}

.list-ingredient{
    width: 100%;
}


#msform .quantita{
    padding: 5px;
    width: 50px;
    font-size: 20px;
    margin-bottom: 0;
    margin-left: 10px;
    text-align: center;
}

#msform label{
    font-size: 20px;
}


#msform input[type="radio"] {
    width: 20px;
    height: 20px;
}

#msform input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
  

