<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form id="msform" [formGroup]="ricettaForm" (ngSubmit)="inviaRicetta()">
            <!-- divs ossia un gruppo di form sotto uno stesso unico form name(form padre)-->
            <fieldset [@fadeInOut]="'in'" [style.display]="currentStep == 1 ? 'block' : 'none'">
                <h2>Inserimento Ricetta</h2>
                <input type="text" placeholder="Nome Ricetta" formControlName="nome">
                <textarea id="istruzioni" cols="30" rows="5" placeholder="Inserisci istruzioni.."
                    formControlName="istruzioni"></textarea>
                <div class="row d-flex">
                    <div class="col">
                        <label for="portata">Portata: </label>
                        <select id="portata" formControlName="portata">
                            <option value="Primo piatto">Primo</option>
                            <option value="Secondo piatto">Secondo</option>
                            <option value="Dolce">Dolce</option>
                            <option value="Contorno">Contorno</option>
                        </select>
                    </div>
                    <div class="col d-flex">
                        <input type="radio" name="difficolta" formControlName="difficolta" value="1" id="difficolta1">
                        <label for="difficolta1">Facile</label>
                        <input type="radio" name="difficolta" formControlName="difficolta" value="2" id="difficolta2">
                        <label for="difficolta2">Medio</label>
                        <input type="radio" name="difficolta" formControlName="difficolta" value="3" id="difficolta3">
                        <label for="difficolta3">Difficile</label>
                    </div>
                </div>
                <div class="row d-flex">
                    <div class="col">
                        <label for="serving">Numero Persone: </label>
                        <select id="serving" formControlName="serving">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="tempoPreparazione">Tempo Preparazione: </label>
                        <input type="number" min="5" step="5" formControlName="tempoPreparazione">
                    </div>
                </div>
                <input type="url" placeholder="inserisci link ricetta" formControlName="linkImmagine">
            </fieldset>
            <fieldset [@fadeInOut]="'in'" [style.display]="currentStep == 2 ? 'block' : 'none'">
                <h2>Scegli gli ingredienti</h2>
                <div class="row d-flex">
                    <div class="col">
                        <ul>
                            <li *ngFor="let ingrediente of ingredienti; let i = index">
                                <input type="checkbox" name="{{ingrediente.nome}}" value="{{ingrediente.nome}}"
                                    (change)="selezionaIngrediente(ingrediente, $event)">
                                <label for="{{ingrediente.nome}}">{{ingrediente.nome}}</label>
                                <input type="number" min="1" formControlName="quantita{{i}}">
                                <select name="unitaMisura" formControlName="unitaMisura{{i}}">
                                    <option value="g">g</option>
                                    <option value="kg">kg</option>
                                    <option value="ml">ml</option>
                                    <option value="l">l</option>
                                    <option value="cucchiaino">cucchiaino</option>
                                    <option value="cucchiaio">cucchiaio</option>
                                    <option value="pizzico">pizzico</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <button type="button" (click)="aggiungiIngrediente()">Aggiungi ingrediente</button>
                    </div>
                </div>

                <app-popup-form></app-popup-form>
                <button type="submit" class="submit action-button">Invia ricetta</button>
            </fieldset>
        </form>
    </div>
</div>