@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Signika:wght@300..700&family=Varela+Round&display=swap');
@import "~@fortawesome/fontawesome-free/css/all.css";



/* @import '~bootstrap/scss/bootstrap';*/

/* varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
  } */
  

  /* .signika-<uniquifier> {
    font-family: "Signika", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "GRAD" 0;
  } */

  /* .livvic-bold {
  font-family: "Livvic", sans-serif;
  font-weight: 700;
  font-style: normal;
} */
/* ciao Sara */

html,body { 
  font-family: "Livvic", sans-serif;
  font-weight: 700;
  font-style: normal;
 
 }  
