<div class="container">
    <div class="row">
        <h2 class="text-center">Opinoni Utenti</h2>
        <div class="col-12 mt-5 cornice">
           
            <h6> <mat-icon>account_circle</mat-icon> Nome Utente</h6>
            <p>Commento Utente Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas veritatis eius reiciendis magni dignissimos. Aliquam quod voluptates cum labore minus exercitationem, nulla at id velit recusandae aut eos in ducimus!</p>
        </div>
    </div>
</div>